[sources.file_input]
type = "file"
include = ["../data/in_dat/gen.dat"]
read_from = "beginning"
data_dir = "../data/"

# 判断日志类型并路由到不同分支
[transforms.route_logs]
type = "route"
inputs = ["file_input"]
route.aws = 'exists(.message) && starts_with(string!(.message), "http")'  # 检测 AWS ALB 日志开头
route.nginx = 'exists(.message) && is_ipv4(to_string(split(string!(.message), " ")[0]))' # 检测 IP 开头（Nginx）
route.apt = 'exists(.message) && starts_with(string!(.message), "#")'  # 检测 Hillstone ANTI-APT 日志
route.sysmon = "exists(.message) && match(string!(.message), r'Microsoft-Windows-Sysmon')" # 检测 Sysmon 日志

# 解析 aws 日志
[transforms.parse_aws]
type = "remap"
inputs = ["route_logs.aws"]
source = '''
  . |= parse_aws_alb_log!(.message)
  del(.message)
  .symbol = .type
  del(.type)
  .elb_status_code    = to_int!(.elb_status_code)
  .target_status_code = to_int!(.target_status_code)
  .sent_bytes         = to_int!(.sent_bytes)

  if .host == "127.0.0.1" {
    .match_chars = "localhost"
  } else {
    .match_chars = "attack_ip"
  }

  if .elb_status_code == 200 {
    .str_elb_status = "ok"
  } else if .elb_status_code == 404 {
    .str_elb_status = "error"
  }

  .extends = {
    "ssl_cipher": .ssl_cipher,
    "ssl_protocol": .ssl_protocol,
  }
'''

[transforms.parse_nginx]
type = "remap"
inputs = ["route_logs.nginx"]
source = '''
  . |= parse_nginx_log!(.message, format: "combined")
  .http_agent = .agent
  del(.agent)
  .http_request = .request
  del(.request)
  .sip = .client
  del(.client)
  .status = to_int!(.status)
  .size = to_int!(.size)
if .host == "127.0.0.1" {
    .match_chars = "localhost"
} else if .host != "127.0.0.1" {
    .match_chars = "attack_ip"
}  
if .status == 500 {
    .str_status = "Internal Server Error"
} else if .status == 404 {
    .str_status = "Not Found"
}  
  del(.message)
'''

[transforms.parse_apt]
type = "remap"
inputs = ["route_logs.apt"]
source = '''
  .|= parse_regex!(.message, r'(?s)^#(?P<timestamp>\w+\s+\d+\s+\d{4}\s+\d{2}:\d{2}:\d{2}[+-]\d{2}:\d{2})\s+(?P<Hostname>\S+)\s+%%(?P<ModuleName>\d+[^/]+)/(?P<SeverityHeader>\d+)/(?P<symbol>[^(]+)\((?P<type>[^)]+)\)\[(?P<Count>\d+)\]:\s*(?P<Content>[^()]+?)\s*\(SyslogId=(?P<SyslogId>[^,]+),\s+VSys="(?P<VSys>[^"]+)",\s+Policy="(?P<Policy>[^"]+)",\s+SrcIp=(?P<SrcIp>[^,]+),\s+DstIp=(?P<DstIp>[^,]+),\s+SrcPort=(?P<SrcPort>[^,]+),\s+DstPort=(?P<DstPort>[^,]+),\s+SrcZone=(?P<SrcZone>[^,]+),\s+DstZone=(?P<DstZone>[^,]+),\s+User="(?P<User>[^"]+)",\s+Protocol=(?P<Protocol>[^,]+),\s+Application="(?P<Application>[^"]+)",\s+Profile="(?P<Profile>[^"]+)",\s+Direction=(?P<Direction>[^,]+),\s+ThreatType=(?P<ThreatType>[^,]+),\s+ThreatName=(?P<ThreatName>[^,]+),\s+Action=(?P<Action>[^,]+),\s+FileType=(?P<FileType>[^,]+),\s+Hash=(?P<Hash>.*)\)$')
  del(.message)
.severity = to_int!(.SeverityHeader)
.Count = to_int!(.Count)
if .host == "127.0.0.1" {
    .match_chars = "localhost"
} else if .host != "127.0.0.1" {
    .match_chars = "attack_ip"
}  
if .type == "l" {
.src_system_log_type = "日志信息"
} else if .type == "s" {
.src_system_log_type = "安全日志信息"
}
.extends_ip = {
    "DstIp": .DstIp,
    "SrcIp": .SrcIp,
}
.extends_info = {
    "hostname": .Hostname,
    "source_type": .source_type,
}
.num_range = if .Count >= 0 && .Count <= 1000 {
    .Count
} else {
    0
}
'''

[transforms.parse_sysmon]
type = "remap"
inputs = ["route_logs.sysmon"]
source = '''
  json_str = slice!(.message, start: 57)
  parsed = parse_json!(json_str, max_depth: 2)
  desc = parsed.Description
  .cmd_line            = desc.CommandLine
  .product_company     = desc.Company
  .process_id          = parsed.ProcessId
  .Opcode              = parsed.Opcode
  .ProcessId           = parsed.ProcessId
  .Task                = parsed.Task
  .ThreadId            = parsed.ThreadId
  .Version             = parsed.Version
  .current_dir         = desc.CurrentDirectory
  .process_desc        = desc.Description
  .file_version        = desc.FileVersion
  .Hashes              = desc.Hashes
  .process_path        = desc.Image
  .integrity_level     = desc.IntegrityLevel
  .logon_guid          = desc.LogonGuid
  .origin_file_name    = desc.OriginalFileName
  .parent_cmd_line     = desc.ParentCommandLine
  .parent_process_path = desc.ParentImage
  .parent_process_guid = desc.ParentProcessGuid
  .parent_process_id   = desc.ParentProcessId
  .parent_process_user = desc.ParentUser
  .process_guid        = desc.ProcessGuid
  .product_name        = desc.Product
  .rule_name           = desc.RuleName
  .terminal_session_id = desc.TerminalSessionId
  .user_name           = desc.User
  .occur_time          = desc.UtcTime
  .DescriptionRawMessage = parsed.DescriptionRawMessage
  .keywords             = parsed.Keywords
  .severity             = parsed.Level
  .LevelDisplayName     = parsed.LevelDisplayName
  .LogName              = parsed.LogName
  .MachineName          = parsed.MachineName
  .OpcodeDisplayName    = parsed.OpcodeDisplayName
  .ProviderId           = parsed.ProviderId
  .ProviderName         = parsed.ProviderName
  .TaskDisplayName      = parsed.TaskDisplayName
  .TimeCreated          = parsed.TimeCreated
  del(.message)
  .LogonId = to_int!(parsed.LogonId)
  .Id = to_int!(parsed.Id)
if .host == "127.0.0.1" {
    .match_chars = "localhost"
} else if .host != "127.0.0.1" {
    .match_chars = "attack_ip"
}   
if .severity == 4 {
    .enrich_level = "severity"
} else if .Level == 3 {
    .enrich_level = "normal"
} 
.extends = {
    "OriginalFileName": .origin_file_name,
    "ParentCommandLine": .parent_cmd_line,
}
.extends_dir = {
    "ParentProcessPath": .parent_process_path,
    "Process_path": .process_path,
}
.num_range = if .Id >= 0 && .Id <= 1000 {
    .Id
} else {
    0
}
'''

[sinks.blackhole_output]
type = "blackhole"
inputs = ["parse_aws", "parse_nginx", "parse_apt", "parse_sysmon", "route_logs._unmatched"]

[api]
    enabled = true
