[sources.syslog_source]
type = "socket"
address = "127.0.0.1:19001"
mode = "tcp"
max_length = 10485760

[transforms.parser]
type = "remap"
inputs = ["syslog_source"]
source = '''
  json_str = slice!(.message, start: 57)
  parsed = parse_json!(json_str, max_depth: 2)
  desc = parsed.Description
  .cmd_line            = desc.CommandLine
  .product_company     = desc.Company
  .process_id          = parsed.ProcessId
  .Opcode              = parsed.Opcode
  .ProcessId           = parsed.ProcessId
  .Task                = parsed.Task
  .ThreadId            = parsed.ThreadId
  .Version             = parsed.Version
  .current_dir         = desc.CurrentDirectory
  .process_desc        = desc.Description
  .file_version        = desc.FileVersion
  .Hashes              = desc.Hashes
  .process_path        = desc.Image
  .integrity_level     = desc.IntegrityLevel
  .logon_guid          = desc.LogonGuid
  .origin_file_name    = desc.OriginalFileName
  .parent_cmd_line     = desc.ParentCommandLine
  .parent_process_path = desc.ParentImage
  .parent_process_guid = desc.ParentProcessGuid
  .parent_process_id   = desc.ParentProcessId
  .parent_process_user = desc.ParentUser
  .process_guid        = desc.ProcessGuid
  .product_name        = desc.Product
  .rule_name           = desc.RuleName
  .terminal_session_id = desc.TerminalSessionId
  .user_name           = desc.User
  .occur_time          = desc.UtcTime
  .DescriptionRawMessage = parsed.DescriptionRawMessage
  .keywords             = parsed.Keywords
  .severity             = parsed.Level
  .LevelDisplayName     = parsed.LevelDisplayName
  .LogName              = parsed.LogName
  .MachineName          = parsed.MachineName
  .OpcodeDisplayName    = parsed.OpcodeDisplayName
  .ProviderId           = parsed.ProviderId
  .ProviderName         = parsed.ProviderName
  .TaskDisplayName      = parsed.TaskDisplayName
  .TimeCreated          = parsed.TimeCreated
  del(.message)
  .LogonId = to_int!(parsed.LogonId)
  .Id = to_int!(parsed.Id)
if .host == "127.0.0.1" {
    .match_chars = "localhost"
} else if .host != "127.0.0.1" {
    .match_chars = "attack_ip"
}   
if .severity == 4 {
    .enrich_level = "severity"
} else if .Level == 3 {
    .enrich_level = "normal"
} 
.extends = {
    "OriginalFileName": .origin_file_name,
    "ParentCommandLine": .parent_cmd_line,
}
.extends_dir = {
    "ParentProcessPath": .parent_process_path,
    "Process_path": .process_path,
}
.num_range = if .Id >= 0 && .Id <= 1000 {
    .Id
} else {
    0
}
'''

[sinks.file_out]
type = "file"
inputs = ["parser"]
path = "out.json"
encoding.codec = "json"

[api]
    enabled = true
