[sources.file_source_1]
type = "file"
include = ["../data/in_dat/gen.dat"]
read_from = "beginning"
data_dir = "../data/"

[transforms.parser]
type = "remap"
inputs = ["file_source_1"]
source = '''
  . |= parse_nginx_log!(.message, format: "combined")
  del(.message)
'''

[sinks.file_out]
type = "blackhole"
inputs = ["parser"]

[api]
    enabled = true