[sources.syslog_source]
type = "socket"
address = "127.0.0.1:19001"
mode = "tcp"
max_length = 10485760

[transforms.parser]
type = "remap"
inputs = ["syslog_source"]
source = '''
. |= parse_aws_alb_log!(.message)
del(.message)
'''

[sinks.file_out]
type = "file"
inputs = ["parser"]
path = "out.json"
encoding.codec = "json"

[api]
    enabled = true