[sources.file_source_1]
type = "file"
include = ["../data/in_dat/gen.dat"]
read_from = "beginning"
data_dir = "../data/"

[transforms.parser]
type = "remap"
inputs = ["file_source_1"]
source = '''
  . |= parse_aws_alb_log!(.message)
  del(.message)
  .symbol = .type
  del(.type)
  .elb_status_code    = to_int!(.elb_status_code)
  .target_status_code = to_int!(.target_status_code)
  .sent_bytes         = to_int!(.sent_bytes)

  if .host == "127.0.0.1" {
    .match_chars = "localhost"
  } else {
    .match_chars = "attack_ip"
  }

  if .elb_status_code == 200 {
    .str_elb_status = "ok"
  } else if .elb_status_code == 404 {
    .str_elb_status = "error"
  }

  .extends = {
    "ssl_cipher": .ssl_cipher,
    "ssl_protocol": .ssl_protocol,
  }
'''

[sinks.file_out]
type = "blackhole"
inputs = ["parser"]

[api]
    enabled = true