[sources.tcp_source_1]
type = "socket"
address = "127.0.0.1:19001"
mode = "tcp"
max_length = 10485760

[transforms.parser]
type = "remap"
inputs = ["tcp_source_1"]
source = '''
  . |= parse_nginx_log!(.message, format: "combined")
  .http_agent = .agent
  del(.agent)
  .http_request = .request
  del(.request)
  .sip = .client
  del(.client)
  .status = to_int!(.status)
  .size = to_int!(.size)
if .host == "127.0.0.1" {
    .match_chars = "localhost"
} else if .host != "127.0.0.1" {
    .match_chars = "attack_ip"
}  
if .status == 500 {
    .str_status = "Internal Server Error"
} else if .status == 404 {
    .str_status = "Not Found"
}  
  del(.message)
'''

[sinks.file_out]
type = "blackhole"
inputs = ["parser"]

[api]
    enabled = true