[sources.file_source_1]
type = "file"
include = ["../data/in_dat/gen.dat"]
read_from = "beginning"
data_dir = "../data/"

[transforms.parser]
type = "remap"
inputs = ["file_source_1"]
source = '''
  . |= parse_regex!(.message, r'^(?P<sip>\S+) \S+ \S+ \[(?P<timestamp>[^\]]+)\] "(?P<http_request>[^"]*)" (?P<status>\d{3}) (?P<size>\d+) "(?P<referer>[^"]*)" "(?P<http_agent>[^"]*)"')
  del(.message)
'''

[sinks.file_out]
type = "blackhole"
inputs = ["parser"]

[api]
    enabled = true