[sources.syslog_source]
type = "socket"
address = "127.0.0.1:19001"
mode = "tcp"
max_length = 10485760

[transforms.parser]
type = "remap"
inputs = ["syslog_source"]
source = '''
  . |= parse_regex!(.message, r'^(?P<sip>\S+) \S+ \S+ \[(?P<timestamp>[^\]]+)\] "(?P<http_request>[^"]*)" (?P<status>\d{3}) (?P<size>\d+) "(?P<referer>[^"]*)" "(?P<http_agent>[^"]*)"')
  del(.message)
'''

[sinks.file_out]
type = "file"
inputs = ["parser"]
path = "out.json"
encoding.codec = "json"
[api]
    enabled = true
