[[connectors]]
id = "doris_sink"
type = "doris"
# 允许通过 sink 的 params 覆盖 Doris 连接和 Stream Load 关键参数
allow_override = [
  "endpoint",
  "user",
  "password",
  "database",
  "table",
  "create_table",
]

[connectors.params]

# endpoint="mysql://localhost:9030/test_db?charset=utf8mb4&connect_timeout=10"
# user = "root"
# password = ""
# database="test_db"
# table = "events_parsed"