services:
# http://host.docker.internal:8080/system-obs/alert/alert-message


  fluent-bit:
    image: fluent/fluent-bit:4.0.3
    container_name: fluent-bit
    restart: unless-stopped
    command: ["/fluent-bit/bin/fluent-bit", "-c", "/fluent-bit/etc/fluent-bit.yml"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      # 测试的日志
      - ./fluent-bit/test-logs:/test-logs:ro
      - /:/host:ro
      # Mount configuration file
      - ./fluent-bit/fluent-bit.yml:/fluent-bit/etc/fluent-bit.yml:ro
    privileged: true
    pid: host
    ports:
      - "2020:2020"  # Fluent Bit HTTP server for health checks
      - "5170:5170"
    networks:
      - app-network

  kafka:
    container_name: kafka
    image: apache/kafka:4.1.1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092 || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 3
    #volumes:
    #  - ./tmp/kafka:/bitnami/kafka/data
    networks:
      - app-network

  kafka-exporter:
    container_name: kafka-exporter
    image: danielqsj/kafka-exporter:v1.9.0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: ["--kafka.server=kafka:9092"]
    restart: on-failure
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - 9308:9308  
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:9308/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - app-network   

  victoria-metrics:
    container_name: victoria-metrics
    image: victoriametrics/victoria-metrics:v1.133.0
    ports:
      - "8428:8428"
    volumes:
      # 数据存储目录，按需开启
      - metrics_data:/storage
      - ./victoria-metrics/scrape.yml:/scrapeconfig/scrape.yml:ro  # 挂载 scrape 配置
    command:
      - --envflag.enable
      - --envflag.prefix=VM_
      - --httpListenAddr=:8428
      - --loggerFormat=json
      - --promscrape.config=/scrapeconfig/scrape.yml
      - --retentionPeriod=15d
      - --storageDataPath=/storage
    environment:
      - TZ=Asia/Shanghai
    networks:
      - app-network
    # 可选：添加健康检查（模拟 livenessProbe）
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:8428/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  victoria-logs:
    container_name: victoria-logs
    image: victoriametrics/victoria-logs:v1.43.0
    ports:
      - "9428:9428"
    # 数据存储目录,按需开启
    volumes:
      - logs_data:/storage
    command:
      - --envflag.enable
      - --envflag.prefix=VM_
      - --http.shutdownDelay=15s
      - --httpListenAddr=:9428
      - --loggerFormat=json
      - --retentionPeriod=10h
      - --storageDataPath=/storage
    environment:
      - TZ=Asia/Shanghai
    networks:
      - app-network
    # 可选：添加健康检查（模拟 livenessProbe）
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:9428/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  wp-monitor:
    container_name: wp-monitor
    image: dysec-docker-alpha.corp.dy-sec.com/wp-monitor:1.0-alpha.8
    ports:
      - "25816:25816"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "ps -aux | grep /app/wp_monitor -q"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    volumes:
      # 挂载配置文件目录
      - ./wp-monitor:/app/config

  grafana:
    container_name: grafana
    image: dysec/grafana:11.6.0
    ports:
      - "3000:3000"
    volumes:
      - /var/lib/grafana/plugins
      - grafana_data:/var/lib/grafana
      - ./grafana/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:ro
      - ./grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml:ro
      - ./grafana/dashboards:/usr/share/grafana/dashboards:ro
    environment:
      - TZ=Asia/Shanghai
      - GF_SECURITY_ADMIN_USER=dayu
      - GF_SECURITY_ADMIN_PASSWORD=Dayu@1234
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://127.0.0.1:3000/api/health | grep ok"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s



networks:
  app-network:
    driver: bridge


volumes:
  kafka_data:
    driver: local
  logs_data:
    driver: local
  metrics_data:
    driver: local
  grafana_data:
    driver: local
