[sources.file_input]
type = "file"
include = ["../data/in_dat/gen.dat"]
read_from = "beginning"
data_dir = "../data/" 

[transforms.route_logs]
type = "route"
inputs = ["file_input"]
route.aws = 'exists(.message) && starts_with(string!(.message), "http")'  
route.nginx = 'exists(.message) && is_ipv4(to_string(split(string!(.message), " ")[0]))' 
route.apt = 'exists(.message) && starts_with(string!(.message), "#")'  
route.firewall = "exists(.message) && match(string!(.message), r'^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2} \\S+ [+-]\\d{2}:\\d{2} (Block|Allow|Drop|Reject): ')" 

[transforms.parse_aws]
type = "remap"
inputs = ["route_logs.aws"]
source = '''
  . |= parse_regex!(.message, r'^(?P<symbol>\S+) (?P<timestamp>\S+) (?P<elb>\S+) (?P<client_host>\S+) (?P<target_host>\S+) (?P<request_processing_time>[-\d\.]+) (?P<target_processing_time>[-\d\.]+) (?P<response_processing_time>[-\d\.]+) (?P<elb_status_code>\S+) (?P<target_status_code>\S+) (?P<received_bytes>\d+) (?P<sent_bytes>\d+) "(?P<request_method>\S+) (?P<request_url>[^ ]+) (?P<request_protocol>[^"]+)" "(?P<user_agent>[^"]*)" "(?P<ssl_cipher>[^"]*)" "(?P<ssl_protocol>[^"]*)" (?P<target_group_arn>\S+) "(?P<trace_id>[^"]*)" "(?P<domain_name>[^"]*)" "(?P<chosen_cert_arn>[^"]*)" (?P<matched_rule_priority>\S+) (?P<request_creation_time>\S+) "(?P<actions_executed>[^"]*)" "(?P<redirect_url>[^"]*)" "(?P<error_reason>[^"]*)" "(?P<target_port_list>[^"]*)" "(?P<target_status_code_list>[^"]*)" "(?P<classification>[^"]*)" "(?P<classification_reason>[^"]*)" (?P<traceability_id>\S+)$')
  del(.message)
'''

[transforms.parse_nginx]
type = "remap"
inputs = ["route_logs.nginx"]
source = '''
  . |= parse_regex!(.message, r'^(?P<sip>\S+) \S+ \S+ \[(?P<timestamp>[^\]]+)\] "(?P<http_request>[^"]*)" (?P<status>\d{3}) (?P<size>\d+) "(?P<referer>[^"]*)" "(?P<http_agent>[^"]*)"')
  del(.message)
'''

[transforms.parse_apt]
type = "remap"
inputs = ["route_logs.apt"]
source = '''
  . |= parse_regex!(.message, r'(?s)^#(?P<timestamp>\w+\s+\d+\s+\d{4}\s+\d{2}:\d{2}:\d{2}[+-]\d{2}:\d{2})\s+(?P<Hostname>\S+)\s+%%(?P<ModuleName>\d+[^/]+)/(?P<SeverityHeader>\d+)/(?P<symbol>[^(]+)\((?P<type>[^)]+)\)\[(?P<Count>\d+)\]:\s*(?P<Content>[^()]+?)\s*\(SyslogId=(?P<SyslogId>[^,]+),\s+VSys="(?P<VSys>[^"]+)",\s+Policy="(?P<Policy>[^"]+)",\s+SrcIp=(?P<SrcIp>[^,]+),\s+DstIp=(?P<DstIp>[^,]+),\s+SrcPort=(?P<SrcPort>[^,]+),\s+DstPort=(?P<DstPort>[^,]+),\s+SrcZone=(?P<SrcZone>[^,]+),\s+DstZone=(?P<DstZone>[^,]+),\s+User="(?P<User>[^"]+)",\s+Protocol=(?P<Protocol>[^,]+),\s+Application="(?P<Application>[^"]+)",\s+Profile="(?P<Profile>[^"]+)",\s+Direction=(?P<Direction>[^,]+),\s+ThreatType=(?P<ThreatType>[^,]+),\s+ThreatName=(?P<ThreatName>[^,]+),\s+Action=(?P<Action>[^,]+),\s+FileType=(?P<FileType>[^,]+),\s+Hash=(?P<Hash>.*)\)$')
  del(.message)
'''

[transforms.parse_firewall]
type = "remap"
inputs = ["route_logs.firewall"]
source = '''
raw = to_string!(.message)
h = parse_regex!(
  raw,
  r'^(?P<timestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\s+(?P<severity>\S+)\s+(?P<tz>[+-]\d{2}:\d{2})\s+(?P<label>Block|Allow|Drop|Reject):\s+(?P<body>.*)$'
)
.|= parse_regex!(
  h.body,
  r'^type=(?P<type>[^|]*)\|action=(?P<action>[^|]*)\|proto=(?P<proto>[^|]*)\|ipVersion=(?P<ipVersion>[^|]*)\|srcIF=(?P<srcIF>[^|]*)\|srcZone=(?P<srcZone>[^|]*)\|srcIP=(?P<srcIP>[^|]*)\|srcPort=(?P<srcPort>[^|]*)\|srcMAC=(?P<srcMAC>[^|]*)\|srcNAT=(?P<srcNAT>[^|]*)\|srcCountry=(?P<srcCountry>[^|]*)\|srcASN=(?P<srcASN>[^|]*)\|dstIF=(?P<dstIF>[^|]*)\|dstZone=(?P<dstZone>[^|]*)\|dstIP=(?P<dstIP>[^|]*)\|dstPort=(?P<dstPort>[^|]*)\|dstService=(?P<dstService>[^|]*)\|dstNAT=(?P<dstNAT>[^|]*)\|dstCountry=(?P<dstCountry>[^|]*)\|dstASN=(?P<dstASN>[^|]*)\|rule=(?P<rule>[^|]*)\|ruleType=(?P<ruleType>[^|]*)\|policyId=(?P<policyId>[^|]*)\|policyGroup=(?P<policyGroup>[^|]*)\|interfaceGroup=(?P<interfaceGroup>[^|]*)\|routingTable=(?P<routingTable>[^|]*)\|connState=(?P<connState>[^|]*)\|sessionId=(?P<sessionId>[^|]*)\|sessionDuration=(?P<sessionDuration>[^|]*)\|receivedPackets=(?P<receivedPackets>[^|]*)\|sentPackets=(?P<sentPackets>[^|]*)\|receivedBytes=(?P<receivedBytes>[^|]*)\|sentBytes=(?P<sentBytes>[^|]*)\|packetCount=(?P<packetCount>[^|]*)\|byteCount=(?P<byteCount>[^|]*)\|tcpFlags=(?P<tcpFlags>[^|]*)\|icmpType=(?P<icmpType>[^|]*)\|icmpCode=(?P<icmpCode>[^|]*)\|application=(?P<application>[^|]*)\|applicationRisk=(?P<applicationRisk>[^|]*)\|applicationCategory=(?P<applicationCategory>[^|]*)\|protocolDetection=(?P<protocolDetection>[^|]*)\|detectedProtocol=(?P<detectedProtocol>[^|]*)\|user=(?P<user>[^|]*)\|userGroup=(?P<userGroup>[^|]*)\|authMethod=(?P<authMethod>[^|]*)\|vpnType=(?P<vpnType>[^|]*)\|vpnTunnelId=(?P<vpnTunnelId>[^|]*)\|contentProfile=(?P<contentProfile>[^|]*)\|contentAction=(?P<contentAction>[^|]*)\|url=(?P<url>[^|]*)\|urlCategory=(?P<urlCategory>[^|]*)\|threatLevel=(?P<threatLevel>[^|]*)\|threatName=(?P<threatName>[^|]*)\|signatureId=(?P<signatureId>[^|]*)\|signatureVersion=(?P<signatureVersion>[^|]*)\|limitProfile=(?P<limitProfile>[^|]*)\|rateLimitPps=(?P<rateLimitPps>[^|]*)\|rateLimitBps=(?P<rateLimitBps>[^|]*)\|logSource=(?P<logSource>[^|]*)\|logType=(?P<logType>[^|]*)\|logVersion=(?P<logVersion>[^|]*)$'
)
del(.message)
'''

[sinks.blackhole_output]
type = "blackhole"
inputs = ["parse_aws", "parse_nginx", "parse_apt", "parse_firewall"]

[api]
    enabled = true
